*{
    margin: 0;
    padding: 0;
}
html, body{
    height: 100%;
    background-color: aquamarine;
}
header{
    width: 100%;
    height: 15%;
    float: left;
    background-color: rgb(176, 132, 234);
}
#marca{
    width: 25%;
    height: 100%;
    float: left;
    background-color: rgb(176, 132, 234);
}
nav{
    width: 75%;
    height: 100%;
    float: right;
    display: flex;
    align-items: center;
    justify-content: right;
    font-size: 26px;
    background-color: rgb(0, 0, 0);
}
nav ul{
    list-style: none;
    margin-right: 2%;
}

.menu li{
    position: relative;
    display: inline-block;
    text-align: center;
}
.menu li a{
    display: block;
    margin-right: 8%;
    padding: 15px 20px;
    color: white;
    text-decoration: none;
}
.menu li a:hover{
    color: cadetblue;
    transform: translateY(-4%);
    transition: 0.2s;
}
.submenu{
    position: absolute;
    background-color: black;
    text-align: center;
    width: 117%;
    visibility: hidden;
    opacity: 0;
    transition: opacity 1s;
}
.submenu li a{
    display: block;
    padding: 15px;
    color: white;
    text-decoration: none;
}

.menu li:hover .submenu{
    visibility: visible;
    opacity: 1;
}
main{
    width: 80%;
    height: 95%;
    float: left;
    background-color: rgb(88, 31, 164);
}
aside{
    width: 20%;
    height: 95%;
    float: right;
    background-color: rgb(32, 0, 75);
}
footer{
    width: 100%;
    height: 10%;
    float: left;
    background-color: rgb(193, 153, 244);
}

p{
    text-decoration: solid;
    font-size: xx-large;
    color: whitesmoke;

}
.contenedor{
    display: flex;
    align-items: center;
}
.contenedor img{
    margin: 20px;
    width: 250px;
    height: 200px;
}
.contenedor p{
    margin-top: 20px;
}
#linkA{
    text-decoration: underline ;
    color: white;
}